html{
    scroll-behavior: smooth;
    
}

body{
    margin: 0;
    width:auto;
    height:auto;
    overflow-x:hidden
    
}
.app {
    display: grid;
    height: inherit;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 50px;
    overflow: hidden;
    
}

.content {
    overflow-y: scroll;
}

header, footer {
    padding: 30px;
}

header {
    background-image: url(images/cash-macanaya-ndtVFSIu68I-unsplash.jpg);
    background-position:center;
    height: 150px;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0px 1px 5px grey;
    position:relative
}

header h1{
    font-family:sans-serif, Arial, Times New Roman;
    text-align: left;
    font-size: 30px;
    color: black;
}

    
.navigation{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    background: #555;
    color: #f1f1f1;
    margin-top: 110px;
}


nav a{
    font-family: sans-serif, Arial, Times New Roman;
    font-size: 15px;
    text-decoration: none;
}

nav a:link{
    color:black;

}

nav a:visited{
    color: black;
}

nav a:hover{
    background-color:#f7b778;
    transform:scale(120%);
    transition-duration: 0.5s;
    opacity: 90%;
}

.sticky{
    position:fixed;
    top:0;
    width: 100%;
}

.sticky + .content{
    padding-top: 102px;
}


h2{
    font-family: sans-serif, Arial, Times New Roman;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}
    
#Normal{
    background: #faeba6;
    height: 800px;
   
}

#Buff{
    height: 800px;
}

#Toned{
    background: #ddc5e7;
    height:800px;
}

#Skinny{

    height: 800px;
}

footer{
    clear:both;
    background: linear-gradient(#ace8dc, #b5eecd );
    box-shadow: 0px -1px 5px grey;
    overflow: hidden;
    
}

#Normal>.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    height: 250px;
    
    
}

#Normal>.container>aside {
    width:fit-content;
    
} 

#Buff>.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    height: 250px;
    
}

#Buff>.container>aside {
    width: fit-content;
} 

#Toned>.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    height: 250px;
    
}

#Toned>.container>aside {
    width: fit-content;
} 

#Skinny>.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    height: 250px;
   
}

#Skinny>.container>aside {
    width: fit-content;
} 
