html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-left: 0%;
    margin-bottom: 0%;
    width:100vw;

}


header{
    background: linear-gradient( #b5eecd, #ace8dc );
    width:100vw;
    left:0;
    top:0;
    padding-top: 5%;
    padding-bottom: 5%;
    position: fixed;
    overflow: hidden;
    z-index:1000;
    box-shadow: 0px 1px 5px grey;
}

header h1{
    font-family:sans-serif, Arial, Times New Roman;
    text-align: left;
    font-size: 30px;
    color:#FFFFFF;
    margin-left: 2%;
    
    
}

nav{
    text-align: center;
    
}
    

nav a{
    display: inline-block;
    font-family: sans-serif, Arial, Times New Roman;
    font-size: 15px;
    border: 0.5px solid;
    border-radius: 30%;
    margin: 1%;
    padding: 1% ;
    background-color: #f8efe6;
    text-decoration: none;
    width: 15%;
}

nav a:link{
    color:black;

}

nav a:visited{
    color:black;
}

nav a:hover{
    background-color:#FFFCF9;
    transform:scale(120%);
    transition-duration: 0.5s;
    opacity: 90%;
}

section{
    width: 100vw;
    padding-top: 80%;
    padding-bottom: 80%;
    
    
}

div{ 
    
    margin-left:4%;
    
}
    
#Normal{
    background: #faeba6;
   
}

#Buff{
    background: #f6d2ae;
}

#Toned{
    background: #f8c1ba;
}

#Skinny{
    background: #ddc5e7;
}

.image{
    float:left;
    
    width: 40%;
}

.text{
    float: right;
    width: 40%;
}





footer{
    clear:both;
    background: linear-gradient(#ace8dc, #b5eecd );
    width: 100vw;
    padding-top: 20%;
    padding-bottom:20%;
    padding-left: 3%;
    bottom:0;
    position: relative;
    box-shadow: 0px -1px 5px grey;
    overflow-y: hidden;
}