html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}
.app {
    display: grid;
    height: inherit;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 50px;
    overflow: hidden;
}

.content {
    overflow-y: scroll
}

header, footer {
    padding: 0 10px;
}

header {
    background: linear-gradient( #b5eecd, #ace8dc );
    box-shadow: 0px 1px 5px grey;
}

header h1{
    font-family:sans-serif, Arial, Times New Roman;
    text-align: left;
    font-size: 30px;
    color:#FFFFFF;
}

nav {
    text-align: center;
}
    

nav a{
    display: inline-block;
    font-family: sans-serif, Arial, Times New Roman;
    font-size: 15px;
    border: 0.5px solid;
    border-radius: 30%;
    background-color: #f8efe6;
    text-decoration: none;
    width: 15%;
}

nav a:link{
    color:black;

}

nav a:visited{
    color:black;
}

nav a:hover{
    background-color:#FFFCF9;
    transform:scale(120%);
    transition-duration: 0.5s;
    opacity: 90%;
}
    
#Normal{
    background: #faeba6;
   
}

#Buff{
    background: #f6d2ae;
    
}

#Toned{
    background: #f8c1ba;
}

#Skinny{
    background: #ddc5e7;
}

.image{
    float:left;
}

.text{
    float: right;
}

footer{
    clear:both;
    background: linear-gradient(#ace8dc, #b5eecd );
    box-shadow: 0px -1px 5px grey;
    overflow-y: hidden;
}

#Normal>.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    
}

#Normal>.container>aside {
    width:fit-content;
    
} 

#Buff>.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

#Buff>.container>aside {
    width: fit-content;
} 

#Toned>.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

#Toned>.container>aside {
    width: fit-content;
} 

#Skinny>.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

#Skinny>.container>aside {
    width: fit-content;
} 
